
@font-face {
  font-family: 'GillSans-SemiBold';
  src: url('GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('GillSans-SemiBold.woff') format('woff'), url('GillSans-SemiBold.ttf')  format('truetype'), url('GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
